---
Language: Cpp
BasedOnStyle: Google
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^(<mo/)'
    Priority:        2
  - Regex:           '<[[:alpha:]_]+>'
    Priority:        1
  - Regex:           '<.*>'
    Priority:        3
    SortPriority:    0
  - Regex:           '".*"'
    Priority:        4
    SortPriority:    0
IndentWidth: 4
...
